In [22]:
import pandas as pd
import numpy as np

In [70]:
FILE_NAME = 'C:/Code/Jupyter/DATA/bigdata_healthcare_data.xlsx'

df = pd.read_excel(FILE_NAME, '검진정보_1차')
df2 = pd.read_excel(FILE_NAME, '기본정보').loc[:,['SEX','AGE','SMOKE','DRINK']]


#아래 3항목은 있으면 1, 없으면 결측값이므로 따로 처리
df3 = pd.read_excel(FILE_NAME, '기본정보').loc[:,['HTN','DM','DL']]
df3 = df3.fillna(0)

lifeLog = pd.read_excel(FILE_NAME,'라이프로그').loc[:,['TOTAL_STEP']]
state = pd.read_excel(FILE_NAME, '기본정보').loc[:,'STATE']
gene = pd.read_excel(FILE_NAME,'유전체')
df = pd.concat([df,df2,df3,lifeLog,state,gene],axis=1) #데이터 병합
df = df[df.STATE != 'drop_out'] #삭제 처리될 데이터 처리
df = df[df.DRINK != -9]
df = df[df.SMOKE != -9]
df.drop(['STATE'],axis=1,inplace=True)

#SEX 데이터 문자형 -> 숫자형
df.loc[df['SEX'] == 'M','SEX'] = 1
df.loc[df['SEX'] == 'F','SEX'] = 0
df['SEX'] = df['SEX'].apply(pd.to_numeric)

In [71]:


#CRP 데이터 문자형 -> 숫자형
mask = df['CRP_1'].str.contains('<',na=False)
df = df[~mask]
df['CRP_1'] = df['CRP_1'].apply(pd.to_numeric)

#인슐린 데이터 문자형 -> 숫자형
mask = df['Insulin_1'].str.contains('<',na=False)
df = df[~mask]
df['Insulin_1'] = df['Insulin_1'].apply(pd.to_numeric)

df['Insulin_1'] = df['Insulin_1'].apply(pd.to_numeric)
df['Insulin_1'] = df['Insulin_1'].apply(pd.to_numeric)
df['Insulin_1'] = df['Insulin_1'].apply(pd.to_numeric)

df = df.fillna(df.mean()) #결측값 제거
df = df.reset_index(drop=True) #데이터 삭제로 인한 인덱스 초기화

C:\Users\a5267\AppData\Local\Temp\ipykernel_18672\1132904098.py:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean()) #결측값 제거

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Columns: 168 entries, CID to 비만.대사증후군.normal_weight.rs651821
dtypes: float64(31), int64(134), object(3)
memory usage: 563.2+ KB

In [73]:
df

,CID,SID,Insulin_1,CRP_1,WBC_1,Neutrophil_1,Lym_1,GLU0_1,Creatinine_1,AST_1,...,당뇨.HbA1C.전체.rs2748427,당뇨.HbA1C.전체.rs8067360,당뇨.HbA1C.전체.rs59616136,당뇨.심뇌혈관질환.전체.rs139293840,비만.체질량지수비만.전체.rs6265,비만.체질량지수비만.전체.rs9939609,비만.복부비만.전체.rs10913469,비만.대사증후군.전체.rs651821,비만.대사증후군.전체.rs671,비만.대사증후군.normal_weight.rs651821
0,SGA00001,S0001,7.7,0.2,3.91,49.9,39.9,91.0,0.68,21.0,...,0,-1,-1,0,-1,0,1,0,0,0
1,SGA00002,S0002,5.4,0.2,5.51,63.9,26.3,140.0,0.75,29.0,...,0,-2,-1,0,-1,0,1,0,0,0
2,SGA00003,S0003,5.1,0.7,4.85,50.8,38.1,83.0,0.51,16.0,...,0,-1,0,0,-1,0,0,1,0,1
3,SGA00004,S0004,4.2,0.6,6.14,59.2,33.4,94.0,0.74,16.0,...,0,-2,0,0,-2,0,1,1,-2,1
4,SGA00005,S0005,3.2,0.1,4.93,47.9,43.6,89.0,0.78,26.0,...,0,-2,-2,0,-1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,SGA00504,MetS_S0380,32.5,0.4,5430.00,57.3,32.2,95.0,0.78,40.0,...,0,0,0,0,0,0,0,1,0,1
425,SGA00505,MetS_S0381,8.2,0.2,6300.00,64.0,29.2,86.0,0.52,36.0,...,1,-1,-1,0,-1,1,1,1,-1,1
426,SGA00506,MetS_S0382,5.2,0.2,6160.00,58.2,33.8,118.0,0.71,16.0,...,1,-1,0,0,-1,0,0,1,-2,1
427,SGA00507,MetS_S0383,4.7,0.3,7250.00,68.1,22.6,90.0,0.61,16.0,...,1,0,-1,0,-1,0,2,1,-1,1
428,SGA00508,MetS_S0384,13.5,0.4,5270.00,58.1,31.7,103.0,0.55,24.0,...,0,0,0,0,-1,1,2,1,0,1

In [74]:
mask_Waist = [((df['SEX'] == 1) & (df['Waist_1'] >= 90)) | ((df['SEX'] == 0) & (df['Waist_1'] >= 80))]
mask_TG = [(df['TG_1'] >= 150) | (df['DL'] == 1)]
mask_HDL = [((df['SEX'] == 1) & (df['HDL_1'] < 40)) | ((df['SEX'] == 0) & (df['HDL_1'] < 50)) | (df['DL'] == 1)]
mask_BP = [(df['HTN'] == 1) | ((df['SEX'] == 1) & (df['SBP_1'] >= 130) & (df['DBP_1'] >= 85)) |
           ((df['SEX'] == 0) & (df['SBP_1'] >= 130) & (df['DBP_1'] >= 85))]
mask_GLU0 = [(df['GLU0_1'] >= 100) | (df['DM'] == 1)]

condition = pd.concat([pd.DataFrame(mask_Waist),pd.DataFrame(mask_TG),pd.DataFrame(mask_HDL),
                      pd.DataFrame(mask_BP),pd.DataFrame(mask_GLU0)]).transpose()
condition.columns = ['DWaist', 'DTG', 'DHDL','DBP','DGLU0']
condition['metabolicSyndrome'] = condition.sum(axis=1)

In [75]:
df_condition = pd.DataFrame(mask_Waist).transpose()

In [76]:
condition

     DWaist    DTG   DHDL    DBP  DGLU0  metabolicSyndrome
0     False  False  False  False  False                  0
1      True   True   True   True   True                  5
2      True   True   True   True  False                  4
3     False  False  False  False  False                  0
4     False  False  False  False  False                  0
..      ...    ...    ...    ...    ...                ...
424   False  False  False  False  False                  0
425    True  False  False  False  False                  1
426    True  False  False  False   True                  2
427   False  False  False   True  False                  1
428   False  False  False  False   True                  1

[429 rows x 6 columns]

In [77]:
df = pd.concat([df,condition],axis=1)

In [78]:
#권장 칼로리 계산을 위해 표준체중 계산
df['standard_Weight'] = 0
df['standard_Weight'].mask(df['SEX'] ==1 , ((df['Height_1']/100)**2)*22, inplace = True)
df['standard_Weight'].mask(df['SEX'] ==0 , ((df['Height_1']/100)**2)*21, inplace = True)

In [79]:
df.loc[:,['SEX','Height_1','standard_Weight']]

     SEX  Height_1  standard_Weight
0      1     173.3        66.072358
1      1     160.2        56.460888
2      0     157.4        52.026996
3      0     152.2        48.646164
4      0     163.7        56.275149
..   ...       ...              ...
424    0     158.0        52.424400
425    0     166.9        58.496781
426    0     153.9        49.738941
427    0     153.0        49.158900
428    0     156.0        51.105600

[429 rows x 3 columns]

In [80]:
#당뇨병 정상,경고,당뇨 판정
df['diabetes'] = 1
df['diabetes'].mask(df['GLU0_1'] < 100 , 0, inplace = True)
df['diabetes'].mask(df['GLU0_1'] > 125 , 2, inplace = True)

In [81]:
df.loc[:,['GLU0_1','diabetes']]

     GLU0_1  diabetes
0      91.0         0
1     140.0         2
2      83.0         0
3      94.0         0
4      89.0         0
..      ...       ...
424    95.0         0
425    86.0         0
426   118.0         1
427    90.0         0
428   103.0         1

[429 rows x 2 columns]

In [82]:
df['dyslipidemiaHDL'] = 0
df['dyslipidemiaHDL'].mask(df['HDL_1'] >= 60 , 2, inplace = True)

df['dyslipidemiaTG'] = 0
df['dyslipidemiaTG'].mask(df['TG_1'] >= 500 , 3, inplace = True)
df['dyslipidemiaTG'].mask((df['TG_1'] < 500) & (df['TG_1'] >= 200), 2, inplace = True)
df['dyslipidemiaTG'].mask((df['TG_1'] < 200) & (df['TG_1'] >= 150) , 1, inplace = True)

df['dyslipidemia'] = df[['dyslipidemiaTG','dyslipidemiaHDL']].sum(axis=1)

In [83]:
df.loc[:,['HDL_1','dyslipidemiaHDL','TG_1','dyslipidemiaTG','dyslipidemia']]

     HDL_1  dyslipidemiaHDL   TG_1  dyslipidemiaTG  dyslipidemia
0     61.0                2   81.0               0             2
1     60.0                2  106.0               0             2
2     40.0                0  231.0               2             2
3     58.0                0   94.0               0             0
4     81.0                2   70.0               0             2
..     ...              ...    ...             ...           ...
424   52.0                0   69.0               0             0
425   78.0                2   65.0               0             2
426   83.0                2   72.0               0             2
427   60.0                2   70.0               0             2
428   54.0                0  129.0               0             0

[429 rows x 5 columns]

In [84]:
df['category'] = 0
df['category'].mask(df['diabetes'] >= 1 , df['category']+1, inplace = True)
df['category'].mask(df['dyslipidemia'] >= 2 , df['category']+2, inplace = True)
df['category'].mask(df['metabolicSyndrome'] >= 3 , df['category']+4, inplace = True)

In [85]:
df.loc[:,['diabetes','dyslipidemia','metabolicSyndrome','category']]

     diabetes  dyslipidemia  metabolicSyndrome  category
0           0             2                  0         2
1           2             2                  5         7
2           0             2                  4         6
3           0             0                  0         0
4           0             2                  0         2
..        ...           ...                ...       ...
424         0             0                  0         0
425         0             2                  1         2
426         1             2                  2         3
427         0             2                  1         2
428         1             0                  1         1

[429 rows x 4 columns]

In [87]:
df.to_csv('C:/Code/Jupyter/DATA/datafile1_fillna.csv', sep=',', na_rep='NaN',encoding='cp949')

In [ ]:
def getDailyCal(sw,eh):
    if eh == 1:
        return (sw*25,sw*30)
    elif eh == 2:
        return (sw*30,sw*35)
    else:
        return (sw*35,sw*40)

In [18]:
userdata = df.sample(n=1)

In [19]:
#당뇨병 진단기준에 따라 0,1,2(정상,경고,당뇨)로 구분
#이상지질혈증 TG,HDL 수치에 따라 위험도 합으로 구현
#기본 임상데이터는 샘플링으로 얻고, 활동강도는 입력으로 얻을것

eh = int(input("활동 강도를 입력해주세요(1: 거의 안함, 2: 보통, 3: 심한 육체활동)"))
dailyCal = getDailyCal(userdata.iloc[0]['standard_Weight'],eh)
dMetaSyndrome = ['정상','경고','대사증후군','대사증후군','대사증후군']
dDiabetes = ['정상','경고','당뇨']
dDyslipidemia = ['정상','경고','이상지질혈증','이상지질혈증','이상지질혈증(매우 위험)']


print(f"""
    대사증후군 판정 : {dMetaSyndrome[userdata.iloc[0]['metabolicSyndrome']]}
    당뇨 판정 : {dDiabetes[userdata.iloc[0]['diabetes']]}
    이상지질혈증 판정 : {dDyslipidemia[userdata.iloc[0]['dyslipidemia']]}
    
    권장 칼로리 소비량 : {dailyCal[0]:.2f} ~ {dailyCal[1]:.2f} kcal
""")

활동 강도를 입력해주세요(1: 거의 안함, 2: 보통, 3: 심한 육체활동)3

    대사증후군 판정 : 경고
    당뇨 판정 : 경고
    이상지질혈증 판정 : 정상

    권장 칼로리 소비량 : 1823.26 ~ 2083.72 kcal